@import "./variables";
@import "./mixins";

#comments {

font-family: $base-font-family;
color: #333;

@import "./normalize";
@import "./base";

@import "./buttons";
button.stripped {
  //letter-spacing: 2px;
  padding: 0;
  margin: 0;
}

@import "./lists";
@import "./forms";

textarea.error,
input[type="text"].error {
    border: $default-border-width solid $error-color !important;
}

.ib {
  display: inline-block;
}
.ib.error {
  border-bottom: $default-border-width solid $error-color;
}

div.inline {
  margin-top: 0.3em;
  position: relative;
  > input[type="text"] {
    width: 54%;
    margin: 0;
    display: inline-block;
    vertical-align: top;
  }
  > button {
    position: absolute;
    right: 0;
    width: 45%;
    margin: 0;
    vertical-align: top;
  }
}

.msg {
  display: none;
  position: relative;
  background-color: $success-bg-color;
  color: $success-color;
  padding: 1em 0.3em 0.3em 0.3em;
  > b {
    position: absolute;
    padding: 0.02em 0.3em;
    right: 0;
    top: 0;
    cursor: pointer;
    font-size: 0.9rem;
  }
}
.msg.error {
  display: block;
  background-color: $error-bg-color;
  color: $error-color;
}

> div.controls {
  margin: 0.5em 0;
  > button {
    color: $medium-gray;
  }
  > button.outlined {
    padding: 0 0.5em;
    margin: 0;
    border-color: $medium-gray;
  }
  > span {
    color: $medium-gray;
  }
  > span.legend {
    color: lighten($medium-gray, 5%);
    font-style: italic;
    font-size: 0.9em;
  }
  > span.count {
    color: $hard-gray;
    font-weight: bold;
    font-size: 1.1em;
  }
  > span.symbol {
    color: $hard-gray;
    font-weight: bold;
    font-size: 1.1em;
    cursor: default;
  }
}
span {
  > button {
    font-size: 0.8em;
    vertical-align: top;
    color: $medium-gray;
  }
  > button.outlined {
    border-color: $medium-gray;
    padding: 0 0.5em;
    margin: 0 0 0.5em 0;
    color: $medium-gray;
    &:hover, &:active, &:focus {
      border-color: $medium-gray;
    }
  }
  > button.stripped {
    margin: 0 0 0.5em 0;
    color: $medium-gray;
  }
}

.name {
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 0.1em;
   > p {
     display: inline;
     word-wrap: break-word;
   }
   img {
     margin: 0 0.5em 0 0;
     padding: 0;
     height: 2.5em;
     width: 2.5em;
   }
   a {
    vertical-align: top;
   }
}
.timeago {
  color: $alt-gray;
  font-size: 0.95em;
  vertical-align: top;
}

div.comment {
  padding: 0.8em 0 0 0.1em;
  margin: 0 0 0 0;
  //border-bottom: 1px solid $soft-gray;
  > button {
    color: $hard-gray;
  }
  > button.outlined {
    font-size: 0.85em;
    padding: 0.25rem 0.5rem;
    border-color: $soft-gray;
    
    /*&:hover {
      color: #fff !important;
      background-color: $primary-color;
    }*/
  }
  > button.stripped {
    display: block;
    margin: 0 0 0.5em -0.1em;
    font-size: 0.8em;
  }
  > dd {
    margin-top: -2.4em;
  }
}

div.comment.collapsed {
  > div, > button, > dd {
    display: none;
  }
}

dd > div.comment {
  //border-top: 1px solid $soft-gray;
  margin-left: 0.3em;
}

dl {
  margin: 0;
  > div.comment {
    border-bottom: 1px solid $soft-gray;
  }
}

.hide {
  display: none;
}

.reply-form {
  position: relative;
  margin: 0 0 0.3em 0;
  > button {
    background: transparent;
    line-height: 1em;
    margin: 0;
    font-weight: bold;
    color: $primary-color;
    position: absolute;
    padding: 0 0.2em !important;
    right: 0;
    top: 0;
    cursor: pointer;
    font-size: 0.9rem;
    &:focus, &:hover {
      background-color: $primary-color;
      color: #fff;
    }
  }
  + button {
    display: none;
  }
}

} // end #comments
