@import "./variables";
@import "./mixins";

#comments {

font-family: $base-font-family;
color: #333;

@import "./normalize";
@import "./base";

@import "./buttons";
@import "../../node_modules/pavilion/scss/pavilion-parts/lists";
ul {
    text-decoration: none;
    list-style-type: none;
}
@import "./forms";

textarea.error,
input[type="text"].error {
    border: $default-border-width solid $error-color !important;
}

div.inline {
  margin-top: 0.3em;
  position: relative;
  > input[type="text"] {
    width: 59%;
    margin: 0;
    display: inline-block;
    vertical-align: top;
  }
  > button {
    position: absolute;
    right: 0;
    width: 40%;
    margin: 0;
    vertical-align: top;
  }
}

.msg {
  display: none;
  position: relative;
  background-color: $success-bg-color;
  color: $success-color;
  padding: 1em 0.3em 0.3em 0.3em;
  > b {
    position: absolute;
    padding: 0.02em 0.3em;
    right: 0;
    top: 0;
    cursor: pointer;
    font-size: 0.9rem;
  }
}
.msg.error {
  display: block;
  background-color: $error-bg-color;
  color: $error-color;
}

.name {
  font-size: 1.3em;
  color: $primary-color;
}
.timeago {
  color: $alt-color;
  font-size: 0.9em;
  padding-top: 0.25em;
  padding-left: 0.8em;
}

div.comment {
  padding: 0.5em 0.8em;
  > span {
    vertical-align: top;
    display: inline-block;
  }
  
  > button {
    font-size: 0.85em;
    padding: 0.25rem 0.5rem;
    margin-bottom: 0.25em;

    /*&:hover {
      color: #fff !important;
      background-color: $primary-color;
    }*/
  }
}

dl {
  margin-top: 0.3em;
  border-top: 1px solid $soft-gray;

  > div.comment {
    border-left: 1px solid $soft-gray;
    border-right: 1px solid $soft-gray;
    border-bottom: 1px solid $soft-gray;
  }
}

dl.hide {
  display: none;
}

} // end #comments
